<h2 class="container">Client details</h2>
<form [formGroup]="formGroup" class="container">
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Company name</mat-label>
    <input matInput type="text" formControlName="name">
    <mat-error *ngIf="formGroup.get('name')?.hasError('required')">Name is required.</mat-error>
    <mat-error *ngIf="formGroup.get('name')?.hasError('minlength')">Minimal Length is 3.</mat-error>
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Tax identify number</mat-label>
    <input matInput type="text" formControlName="taxNumber">
    <mat-error *ngIf="formGroup.get('taxNumber')?.hasError('required')">Tax identify number is
      required.</mat-error>
    <mat-error *ngIf="formGroup.get('taxNumber')?.hasError('pattern')">Tax identify number must be a
      number.</mat-error>
  </mat-form-field>
  <p>Client Company Address</p>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Country</mat-label>
    <input matInput type="text" formControlName="country">
    <mat-error *ngIf="formGroup.get('country')?.hasError('required')">Country is required.</mat-error>
    <mat-error *ngIf="formGroup.get('country')?.hasError('minlength')">Minimal Length is 3.</mat-error>
    <mat-error *ngIf="formGroup.get('country')?.hasError('maxlength')">Maximal Length is 30.</mat-error>
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>City</mat-label>
    <input matInput type="text" formControlName="city">
    <mat-error *ngIf="formGroup.get('city')?.hasError('required')">City is required.</mat-error>
    <mat-error *ngIf="formGroup.get('city')?.hasError('minlength')">Minimal Length is 3.</mat-error>
    <mat-error *ngIf="formGroup.get('city')?.hasError('maxlength')">Maximal Length is 30.</mat-error>
  </mat-form-field>
  <div>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Street</mat-label>
      <input matInput type="text" formControlName="street">
      <mat-error *ngIf="formGroup.get('street')?.hasError('required')">Street is required.</mat-error>
      <mat-error *ngIf="formGroup.get('street')?.hasError('minlength')">Minimal Length is 3.</mat-error>
      <mat-error *ngIf="formGroup.get('street')?.hasError('maxlength')">Maximal Length is 30.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Estate number</mat-label>
      <input matInput type="text" formControlName="estate">
      <mat-error *ngIf="formGroup.get('estate')?.hasError('required')">Estate number is required.</mat-error>
      <mat-error *ngIf="formGroup.get('estate')?.hasError('pattern')">Estate number must be a number.</mat-error>
      <mat-error *ngIf="formGroup.get('estate')?.hasError('maxlength')">Maximal Length is 10.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Apartment number</mat-label>
      <input matInput type="text" formControlName="apartment">
      <mat-error *ngIf="formGroup.get('apartment')?.hasError('maxlength')">Maximal Length is 10.</mat-error>

    </mat-form-field>
  </div>
</form>

<h2 class="container">Product or service.</h2>

<div *ngIf="formArray">
  <div *ngFor="let item of formArray.controls; let i = index">
    <form [formGroup]="item" class="container">
      <div>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
          <mat-error *ngIf="item.get('name')?.hasError('required')">Name is required.</mat-error>
          <mat-error *ngIf="item.get('name')?.hasError('minlength')">Minimal Length is 3.</mat-error>
          <mat-error *ngIf="item.get('name')?.hasError('maxlength')">Maximal Length is 30.</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Count</mat-label>
          <input matInput type="text" formControlName="quantity">
          <mat-error *ngIf="item.get('quantity')?.hasError('required')">Count is required.</mat-error>
          <mat-error *ngIf="item.get('quantity')?.hasError('min')">Minimal value 1.</mat-error>
          <mat-error *ngIf="item.get('quantity')?.hasError('max')">Maximal value 100.</mat-error>
          <mat-error *ngIf="item.get('quantity')?.hasError('pattern')">Count must be a number.</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput type="text" formControlName="price">
          <mat-error *ngIf="item.get('price')?.hasError('required')">Price is required.</mat-error>
          <mat-error *ngIf="item.get('price')?.hasError('min')">Minimal value 1.</mat-error>
          <mat-error *ngIf="item.get('price')?.hasError('max')">Maximal value1,000,000.</mat-error>
          <mat-error *ngIf="item.get('price')?.hasError('pattern')">Price must be a number.</mat-error>
        </mat-form-field>
        <button matTooltip="Remove Item" aria-label="Button that displays on hover" color="primary"
          (click)="removeItem(i)">
          <mat-icon mat-icon>delete</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <button class="button" (click)="addNewItem()" mat-button color="primary">
    <mat-icon mat-icon color="primary" role="img">add</mat-icon>
    <span>Add new item</span>
  </button>

  <div>
    <button (click)="onSubmit()" mat-raised-button color="primary">
      <span>Submit</span>
    </button>
  </div>
</div>