<div *ngIf="formArray">
  <div *ngFor="let item of formArray.controls; let i = index">
    <form [formGroup]="item" class="container">
      <div>
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
          <mat-error *ngIf="item.get('name')?.hasError('required')">Name is required.</mat-error>
          <mat-error *ngIf="item.get('name')?.hasError('minlength')">Minimal Length is 3.</mat-error>
          <mat-error *ngIf="item.get('name')?.hasError('maxlength')">Maximal Length is 30.</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Count</mat-label>
          <input matInput type="text" formControlName="quantity">
          <mat-error *ngIf="item.get('quantity')?.hasError('required')">Count is required.</mat-error>
          <mat-error *ngIf="item.get('quantity')?.hasError('min')">Minimal value 1.</mat-error>
          <mat-error *ngIf="item.get('quantity')?.hasError('max')">Maximal value 100.</mat-error>
          <mat-error *ngIf="item.get('quantity')?.hasError('pattern')">Count must be a number.</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput type="text" formControlName="price">
          <mat-error *ngIf="item.get('price')?.hasError('required')">Price is required.</mat-error>
          <mat-error *ngIf="item.get('price')?.hasError('min')">Minimal value 1.</mat-error>
          <mat-error *ngIf="item.get('price')?.hasError('max')">Maximal value1,000,000.</mat-error>
          <mat-error *ngIf="item.get('price')?.hasError('pattern')">Price must be a number.</mat-error>
        </mat-form-field>
        <button matTooltip="Remove Item" aria-label="Button that displays on hover" color="primary"
          (click)="removeItem(i)">
          <mat-icon mat-icon>delete</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <button class="button" (click)="addNewItem()" mat-button color="primary">
    <mat-icon mat-icon color="primary" role="img">add</mat-icon>
    <span>Add new item</span>
  </button>

  <div>
    <button (click)="onSubmit()" mat-raised-button color="primary">
      <span>Submit</span>
    </button>
  </div>
</div>